<p id="notice"><%= notice %></p>

<%= link_to '+ New Event', new_event_path %>
<h1>Group Events</h1>
<p>These are ideas for events that we'll all go to together. </p>
<% @events.order("date ASC").each do |event| %>
  <article class="index-listing">
    <div class="index-buttons">
      <%= link_to 'Edit', edit_event_path(event) %> |
      <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure you want to delete #{event.name}? This action cannot be undone.' } %>
    </div> <!-- index-buttons -->
    <h2><%= link_to event.name, event %></h2>
    <p><%= event.date %></p>
    <p>From <%= event.start_time %> to <%= event.end_time %></p>
    <p><%= event.description %></p>
    <p>
      <strong>Location:</strong> <br>
      <%= event.venue %> <br>
      <%= event.street_address %> <br>
      <%= event.city %>, <%= event.state %> <%= event.zip %> <br>
      <%= link_to event.website, event.website, :target => "_blank" %>
    </p>  
  </article> <!-- index-listing -->
<% end %>
