<p id="notice"><%= notice %></p>

<h2>
  <%= @event.name %>
</h2>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>
<p>
  <strong>Location:</strong> <br>
  <%= @event.venue %> <br>
  <%= @event.street_address %> <br>
  <%= @event.city %>, <%= @event.state %> <%= @event.zip %> <br>
  <%= link_to @event.website, @event.website, :target => "_blank" %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<hr>

<h3>Comments</h3>
<%= render "comments/comment" %>
<hr>

<h3>Leave a Comment</h3>
<%= render "comments/form" %>
<hr>

<p>Buttons for this Event: 
<%= link_to 'Edit Event', edit_event_path(@event) %> |
<%= link_to 'All Events', events_path %>
</p>
