<p id="notice"><%= notice %></p>

<div class="col-xs-9">
  <h2><%= @event.name %></h2>
  <div class="row">
     <div class="col-xs-6">
     <h4>When</h4>
     <p><%= @event.date %></p>
        <p>From <%= @event.start_time %> to <%= @event.end_time %></p>
     <h4>Location</h4>
      <p>
        <%= @event.venue %> <br>
        <%= @event.street_address %> <br>
        <%= @event.city %>, <%= @event.state %> <%= @event.zip %> <br>
        <%= link_to @event.website, @event.website, :target => "_blank" %>
      </p>
     </div> <!-- col-xs-6 -->
     <div class="col-xs-6">
        <h4>Description</h4>
        <p><%= @event.description %></p>
     </div> <!-- col-xs-6 -->
  </div> <!-- row -->
  <div class="row">
    <hr>
    <h3>Comments</h3>
    <%= render "comments/comment" %>
    <hr>

    <h3>Leave a Comment</h3>
    <%= render "comments/form" %>
    <hr>

    <p>Buttons for this Event: 
    <%= link_to 'Edit Event', edit_event_path(@event) %> |
    <%= link_to 'All Events', events_path %>
    </p>
  </div> <!-- row -->  
</div> <!-- col-xs-9 -->

<div class="col-xs-3">
   <%= render "layouts/sidebar" %>
</div> <!-- col-xs-3 -->
  