<p id="notice"><%= notice %></p>

<%= link_to '+ New Activity', new_activity_path %>
<h1>Area Activities </h1>
<p>Interesting things to do while you're in the area</p>

<% @activities.order("name ASC").each do |activity| %>
  <article class="col-sm-3 index-listing">
    <div class="index-buttons">
      <%= link_to 'Edit', edit_activity_path(activity) %> |
      <%= link_to 'Delete', activity, method: :delete, data: { confirm: 'Are you sure you want to delete #{activity.name}? This action cannot be undone.' } %>
    </div> <!-- index-buttons -->
    <h2><%= link_to activity.name, activity %></h2>
    <p><%= truncate(activity.description, length: 65, separator: " ") %> <%= link_to "read more", activity, class: "read-more" %></p> 
  </article> <!-- index-listing -->
<% end %>
