<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @activity.venue %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @activity.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @activity.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @activity.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @activity.zip %>
</p>

<p>
  <strong>Website:</strong>
  <%= @activity.website %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>
<hr>
<h2>Comments</h2>

  <% @activity.comments.order("created_at DESC").each do |comment| %>
    <%= render :partial => "comments/comment", :object=> comment %>
  <% end %>

<%= link_to "Leave a Comment", new_comment_path %>

<h3>Leave a Comment</h3>
<p>[form goes here]</p>
<hr>
<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
