<header>
  <h1><%= link_to "ReUnion", root_path %></h1>
  <ul>
    <li><%= link_to "Home", pages_home_path %></li>
    <li><%= link_to "Agenda", pages_agenda_path %></li>
    <li><%= link_to "Events", events_path %></li>
    <li><%= link_to "Activities", activities_path %></li>
    <li><%= link_to "Accommodations", pages_accommodations_path %></li>
    <li><%= link_to "Contact", pages_contact_path %></li>
  </ul>
  <hr>
</header>